NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_ACCESS_TOKEN=
SUPABASE_PROJECT_REF=
SUPABASE_SERVICE_ROLE_KEY=
APP_ORIGIN=http://localhost:3000
RESEND_API_KEY=
NOTIFICATION_FROM_EMAIL=
